# Separate personal vs work
[includeIf "gitdir:~/code/personal/"]
    path = ~/.config/git/.gitconfig-personal
[includeIf "gitdir:~/code/work/"]
    path = ~/.config/git/.gitconfig-work
[includeIf "gitdir:~/code/public/"]
    path = ~/.config/git/.gitconfig-anonymous

# Global config
[core]
    excludesfile = ~/.config/git/.gitignore_global
[diff]
	colorMoved = zebra
[fetch]
	prune = true
[pull]
	ff = only
