[submodule "mac/ubersicht/simple-bar"]
	path = mac/ubersicht/simple-bar
	url = https://github.com/Jean-Tinland/simple-bar
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "dotbot-pacman"]
	path = dotbot-pacman
	url = https://github.com/jadencamelot/dotbot-pacman.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
